section.about-company
    .container
        .about-company__wrap
            .about-company__logo
                include ../icons/block-profile-logo
            .about-company__content
                p.text Lo Studio Bazzo Associati fornisce una consulenza a tutto tondo nei confronti delle aziende, siano esse micro-imprese oppure aziende di piccole e medie dimensioni.
                cite Siamo i sarti che creano il vestito su misura per l’azienda
                p.text Ci caratterizza la capacità di analizzare nel dettaglio le caratteristiche di ciascuna azienda. In questo modo lo Studio Bazzo Associati è in grado di consigliare ai propri clienti le migliori strategie per l’ottenimento di elevate performance e per il raggiungimento dei propri obiettivi.




