section.about-staff
    .container
        h2.about-staff__title.title il nostro staff
        .about-staff__wrap
            .about-staff__item
                .about-staff__img
                    img(src="assets/i/about/about-staff/staff-1.jpg" alt="")
                .about-staff__content
                    h3.about-staff__subtitle.title Mario Rossi
                    .about-staff__label Avvocato Civilista
                    .about-staff__text Specializzato nella gestione delle problematiche societarie
            .about-staff__item
                .about-staff__img
                    img(src="assets/i/about/about-staff/staff-2.jpg" alt="")
                .about-staff__content
                    h3.about-staff__subtitle.title Carla Rossi
                    .about-staff__label Dottore Commercialista
                    .about-staff__text Specializzata nella gestione dei contenzioni con l’Amministrazione
            .about-staff__item
                .about-staff__img
                    img(src="assets/i/about/about-staff/staff-3.jpg" alt="")
                .about-staff__content
                    h3.about-staff__subtitle.title Filippo Verdi
                    .about-staff__label Dottore in Giurisprudenza
                    .about-staff__text Specializzata nel diritto societario
            .about-staff__item
                .about-staff__img
                    img(src="assets/i/about/about-staff/staff-4.jpg" alt="")
                .about-staff__content
                    h3.about-staff__subtitle.title Luca Rossi
                    .about-staff__label Avvocato giuslavorista
                    .about-staff__text Specializzata nella gestione della cause di lavoro
