.block-content {
    margin-bottom: 12.3rem;

    @media screen and (max-width: 1200px) {
        margin-bottom: 8rem;
    }
    @media screen and (max-width: 992px) {
        margin-bottom: 6px;
    }

    &__wrap {
        display: flex;
        padding-bottom: 10.6rem;
        margin-bottom: 10rem;
        border-bottom: 1px solid rgba(14, 129, 174, 0.50);

        &:last-of-type {
            padding-bottom: 0;
            border: none;
        }

        @media screen and (max-width: 1200px) {
            padding-bottom: 7rem;
            margin-bottom: 7rem;
        }
        @media screen and (max-width: 900px) {
            padding-bottom: 4rem;
            margin-bottom: 4rem;
            display: block;
        }
    }

    &__title {
        flex: 1;
        @media screen and (max-width: 900px) {
            margin-bottom: 2.4rem;
        }
    }

    &__text {
        flex: 1;
        letter-spacing: 0.036rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    &__list {
        padding-left: 1.8rem;

        li {
            margin-bottom: 0.6rem;
            list-style-type: disc;
        }
    }
}