footer.footer-bottom 
    .footer-bottom__wrap
        .footer-bottom__copyright
            span Studio Michele Bazzo Associati. Partita Iva: 03775520269.
            p Copyright (C) 2019. Tutti i diritti riservati. #[strong Privacy and Cookie policy.]
        .footer-bottom__text Studio Michele Bazzo Associati scelto Rewind e Altuofianco
        .footer-bottom__logo-big
            include ../blocks/icons/footer-logo-1
        .footer-bottom__logo-small
            include ../blocks/icons/footer-logo-2
        