.form
    form(action="") 
        .form__wrap
            .form__group
                input(type='text' placeholder='name')
            .form__group
                input(type='email' placeholder='email')
        .form__group
            input(type='text' placeholder='oggetto')
        .form__group
            textarea(placeholder="Messaggio")
        .form__footer
            button.form__submit.btn(disabled='true') Invia
            .form__privacy
                input#checkbox.form__checkbox(type='checkbox')
                label(for='checkbox') Cliccando su invia dichiari di aver preso visione e di accettare la nostra #[span privacy policy]