header.main-header
  .container
    .main-header__wrap
      a.main-header__logo(href='/')
        include ../blocks/icons/header-logo
      a.main-header__logomini(href='/')
        include ../blocks/icons/header-logo-mini
      ul.main-header__menu#js-main-menu
        li
          a(href='/') Home
        li
          a(href='/services.html') Servizi
        li
          a(href='/about.html') Chi siamo
        li
          a(href='/news.html') News
        li
          a(href='/') Fatturazione Elettronica
        li
          a(href='contacts.html') Contatti

      include sandwich