header.main-header
  .container
    .main-header__wrap
      a.main-header__logo(href='/')
        include ../blocks/icons/header-logo
      a.main-header__logomini(href='/')
        include ../blocks/icons/header-logo-mini
      ul.main-header__menu
        li.main-menu__item
          a.main-menu__link(href='/') Home
        li.main-menu__item
          a.main-menu__link(href='/services.html') Servizi
        li.main-menu__item
          a.main-menu__link(href='/about.html') Chi siamo
        li.main-menu__item
          a.main-menu__link(href='#') News
        li.main-menu__item
          a.main-menu__link(href='#') Fatturazione Elettronica
        li.main-menu__item
          a.main-menu__link(href='#') Contatti
