extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/libs/leaflet/leaflet.css")
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Bazzo

block content
		include ../globals/main-header
		include ../blocks/about/about-banner
		include ../blocks/about/about-company
		//- include ../blocks/about/about-staff
		
		include ../blocks/home/block-contact
		include ../globals/footer-top
		include ../globals/footer-bottom

block scripts
	script(src="assets/libs/leaflet/leaflet.js")
	script(src="assets/js/dist/webpack.js")