extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Bazzo

block content
	.page-contacts
		include ../globals/main-header
		include ../blocks/contacts/contacts-banner
		
		include ../blocks/home/block-contact
		include ../globals/footer-top
		include ../globals/footer-bottom

block scripts
	script(src="assets/js/dist/webpack.js")
