extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Bazzo

block content
	include ../globals/main-header
	include ../blocks/home/home-intro
	include ../blocks/home/block-content
	include ../blocks/home/block-profile
	include ../blocks/home/block-news
	include ../blocks/home/block-contact
	
	h1 Home page
	p Paragraph

block scripts
	script(src="assets/js/dist/webpack.js")
