extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/libs/leaflet/leaflet.css")
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Bazzo

block content
	.page-news
		include ../globals/main-header
		include ../blocks/news/news-banner
		include ../blocks/home/block-news
		
		include ../blocks/home/block-contact
		include ../globals/footer-top
		include ../globals/footer-bottom

block scripts
	script(src="assets/libs/leaflet/leaflet.js")
	script(src="assets/js/dist/webpack.js")
