section.block-content
    .container
        .block-content__wrap
            h2.block-content__title.title consulenza aziendale e societaria
            .block-content__text.text Lo studio Michele Bazzo Associati offre ai propri clienti una consulenza a 360° relativamente all’assetto strategico, gestionale, strutturale ed economico-finanziario dell’azienda, progettando assieme ai nostri clienti soluzioni efficaci. 
        .block-content__wrap
            h2.block-content__title.title consulenza del lavoro
            .block-content__text.text L’approccio giuslavoristico ci consente di seguire efficacemente i nostri clienti in tutti gli aspetti legati alla forza lavoro: inquadramento retributivo, aspetti previdenziali e contributivi, paghe, contenziosi, gestione delle situazioni di sofferenza. 
        .block-content__wrap
            h2.block-content__title.title altri servizi
            .block-content__wrapper
                ul.block-content__list
                    li Controllo di gestione
                    li Contabilità e Bilancio
                    li Crisi aziendale
                ul.block-content__list
                    li Ristrutturazioni d’impresa
                    li Operazioni straordinarie aziendali