section.block-news
    .container
        h2.block-news__title.title ultime notizie
        .block-news__wrap
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-1.jpg", alt="")
                .block-news__content
                    .block-news__text.text Aumenta la stretta sul credito alle PMI, la finanza alternativa può ...
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-2.jpg", alt="")
                .block-news__content
                    .block-news__text.text Cambiare le organizzazioni uscendo dagli automatismi
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-3.jpg", alt="")
                .block-news__content
                    .block-news__text.text I file delle e-fatture utilizzabili per otto anni
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-4.jpg", alt="")
                .block-news__content
                    .block-news__text.text Plastic tax, si parte da 1 miliardo Colpite anche le bottigliette
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-5.jpg", alt="")
                .block-news__content
                    .block-news__text.text Bonus fiscali, ecco da chi partiranno i tagli alle detrazioni
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-6.jpg", alt="")
                .block-news__content
                    .block-news__text.text Clausola penale nelle locazioni a rischio contenzioso con il Fisco
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-7.jpg", alt="")
                .block-news__content
                    .block-news__text.text Quota 100 è cumulabile? Solo se il lavoro autonomo è ...
                    a(href="#").block-news__link Approfondisci
            .block-news__item
                .block-news__img
                    img(src="assets/i/home/block-news/news-8.jpg", alt="")
                .block-news__content
                    .block-news__text.text Gender gap negli studi professionali:  non c’è per 3 ...
                    a(href="#").block-news__link Approfondisci