section.block-contact
    .container
        h2.block-contact__title.title contatti
        .block-contact__wrap
            .block-contact__form
                include ../../globals/form 
            .block-contact__points
                .block-contact__point 
                    h3.block-contact__subtitle Sede principale
                    .block-contact__street 31053 - PIEVE DI SOLIGO (TV)  Viale Garibaldi n.57
                    .block-contact__text Orario di apertura: dal lunedì al venerdì 8.30 - 12.00 e 14.00 - 18.30
                    .block-contact__tel Tel. 
                        a(href="tel:+39043882684" target="_blank") +39 (0)438 82684
                    .block-contact__fax Fax. 
                        a(href="tel:+3904381844173") +39 (0)438 1844173
                    .block-contact__email Email: 
                        a(href="mailto:studio@smba.it" target="_blank") studio@smba.it
                .block-contact__point 
                    h3.block-contact__subtitle Sede secondaria
                    .block-contact__text Via XX Settembre 22, 32020 Cencenighe a Gordino (BL)
                    .block-contact__tel Tel: 
                        a(href="tel:+390437580124") +39 (0)437 580124
                    .block-contact__fax Fax. 
                        a(href="tel:+390437588070") +39 (0)437 588070
                    .block-contact__email Email: 
                        a(href="mailto:studiocence@smba.it" target="_blank") studiocence@smba.it