section.home-intro
    .home-intro__img 
        img(src="assets/i/home/home-intro/home-intro-bg.jpg", alt="Intro")
    .container
        h1.home-intro__title #[strong Studio Michele Bazzo Associati] Professionalità – Fiducia – Confronto
            