.philosophy 
    .container
        .philosophy__wrap   
            .philosophy__content
                h2.philosophy__title.title la nostra filosofia
                .philosophy__img
                    img(src="assets/i/philosophy/philosophy-1.jpg", alt="")
            .philosophy__text
                p Lo Studio Bazzo Associati fornisce una #[b consulenza a tutto tondo] nei confronti delle aziende, siano esse micro-imprese oppure aziende di piccole e medie dimensioni.
                cite Siamo i sarti che creano il vestito su misura per l’azienda
                p Ci caratterizza la capacità di analizzare nel dettaglio le #[b caratteristiche di ciascuna azienda]. In questo modo lo Studio Bazzo Associati è in grado di consigliare ai propri clienti le migliori strategie per l’ottenimento di #[b elevate performance] e per il raggiungimento dei propri obiettivi 
        .philosophy__wrap   
            .philosophy__content
                h2.philosophy__title.title come lavoriamo
                .philosophy__img
                    img(src="assets/i/philosophy/philosophy-2.jpg", alt="")
            .philosophy__text
                p La consulenza aziendale e societaria inizia sempre #[b l’analisi del core-business] aziendale, dedicando particolare attenzione alle eventuali problematiche evidenziate dal cliente o che emergono dall’analisi stessa.
                p Delineiamo in questo modo un #[b percorso] che pone attenzione agli #[b indici di affidabilità] ed è capace di evidenziare come eventuali criticità, punti di attenzioni e limiti posti dalle peculiarità dell’attività aziendale e delle sue caratteristiche.
                p Questa attività viene svolta in #[b stretta collaborazione con il settore amministrativo dell’azienda] e cooperando con #[b personale altamente specializzato] creando così una stretta correlazione tra azienda e professionisti. 
        .philosophy__banner
            img(src="assets/i/philosophy/philosophy-banner.jpg", alt="")
        .philosophy__wrap   
            .philosophy__content
                h2.philosophy__title.title consulenza fiscale
            .philosophy__text
                p Anche relativamente alla consulenza fiscale lo Studio Bazzo Associati con un #[b percorso personalizzato] che è in grado di individuare le migliori strategie sulla base delle specifiche esigenze e problematiche.
                p Ci contraddistinguono inoltre l’esperienza e la competenza relative #[b alle problematiche accertative] degli Enti nei confronti dei clienti.
                p La nostra consulenza della fase #[b pre-contenziosa] si concretizza in una #[b approfondita analisi] della tematica con interlocuzione e confronto con l’Amministrazione finanziaria. L’esperienza maturata nell’arco di molti anni di attività ci porta ad essere particolarmente preparati a consigliare #[b le migliori strategie da adottare] al fine di ottenere le migliori performance. 
        .philosophy__wrap   
            .philosophy__content
                h2.philosophy__title.title consulenza in materia di lavoro
            .philosophy__text
                p Lo Studio Bazzo Associati è specializzato nella gestione del personale ed in particolare nella redazione e contabilizzazione dei cedolini paghe e di tutti gli adempimenti inerenti e conseguenti, con gestione diretta del personale aziendale.
                p Forniamo ogni tipo di consulenza in materia di diritto del lavoro con particolare riguardo alle tematiche relative alle #[b assunzioni, dimissioni e variazioni] contrattuali, la consulenza in genere a favore del datore di lavoro e del dipendente che abbiano a trovarsi di fronte a problematiche giuslavoristiche.
