@font-face {
	font-family: 'DomaineDisplay';
	src: 
		url('../fonts/DomaineDisplay-Regular.woff2') format('woff2'),
		url('../fonts/DomaineDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DomaineDisplay';
	src: 
		url('../fonts/DomaineDisplay-Medium.woff2') format('woff2'),
		url('../fonts/DomaineDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'DomaineDisplay';
	src: 
		url('../fonts/DomaineDisplay-Semibold.woff2') format('woff2'),
		url('../fonts/DomaineDisplay-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: 
		url('../fonts/Averta-Regular.woff2') format('woff2'),
		url('../fonts/Averta-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: 
		url('../fonts/Averta-Semibold.woff2') format('woff2'),
		url('../fonts/Averta-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: 
		url('../fonts/Averta-Extrabold.woff2') format('woff2'),
		url('../fonts/Averta-Extrabold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}


