.footer-top {
    &__img {
        position: relative;
        height: 690px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__map {
        height: 690px;
    }
}