.form {
    padding: 60px 45px 70px;
    background: var(--accent);

    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__wrap .form__group {
        flex: 1;
    }

    &__group {
        margin-bottom: 24px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        height: 52px;
        width: 100%;
        font-family: var(--font-2);
        font-size: 16px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background: var(--accent);
        color: white;
        outline: none;

        &:hover {
            border-bottom: 1px solid white;
        }
    }

    textarea {
        height: 52px;
        resize: none;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder {
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: white;
        }
    }
    input[type="text"]:hover::placeholder, 
    input[type="email"]:hover::placeholder, 
    textarea:hover::placeholder {
        color: white;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__submit {
        border: 2px solid transparent;
        font-size: 24px;

        &:hover {
            border: 2px solid white;
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked+label:after {
        opacity: 1;
    }

    &__privacy label {
        position: relative;
        padding-left: 28px;
        display: block;
        font-family: var(--font-2);
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        span {
            color: white;
        }
    }

    &__privacy label::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 16px;
        height: 16px;
        background: var(--accent);
        border: 1px solid white;
    }

    &__privacy label::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 4px;
        width: 11px;
        height: 8px;
        background: url("../i/svg/icon-form.svg") no-repeat center;
        opacity: 0;
        transition: all 0.4s;
    }
}