.main-header {
    padding: 6.3rem 0 3.5rem;

    @media screen and (max-width: 1200px) {
        padding: 5rem 0 2.5rem;
    }

    @media screen and (max-width: 1100px) {
        padding: 4rem 0 2rem;
    }

    @media screen and (max-width: 1000px) {
        padding: 3rem 0 1.6rem;
    }

    @media screen and (max-width: 900px) {
        padding: 0;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 6.7rem;
        display: inline-flex;
        flex-shrink: 1;

        @media screen and (max-width: 1200px) {
            margin-right: 5rem;
        }

        @media screen and (max-width: 1100px) {
            margin-right: 0;
        }

        svg {
            @media screen and (max-width: 1200px) {
                width: 90%;
            }

            @media screen and (max-width: 1100px) {
                width: 80%;
            }
        }
    }

    &__logomini {
        margin-right: auto;

        svg {
            @media screen and (max-width: 1200px) {
                width: 90%;
            }

            @media screen and (max-width: 1100px) {
                position: relative;
                top: 0.5rem;
                width: 80%;
            }
        }
    }

    &__menu {
        position: relative;
        display: flex;
        gap: 5.8rem;
        letter-spacing: 0.035rem;

        @media screen and (max-width: 1200px) {
            gap: 4.8rem;
        }

        @media screen and (max-width: 1100px) {
            gap: 4rem;
        }

        @media screen and (max-width: 1000px) {
            gap: 3rem;
        }

        @media screen and (max-width: 900px) {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background: var(--accent);
            overflow: auto;
            z-index: 10;
            opacity: 0;
            pointer-events: none;
        }

        &.fixed {
            opacity: 1;
            pointer-events: initial;
        }

        a {
            position: relative;
            display: block;
            transition: all .4s;
            &.active {
                color: var(--accent);
            }

            @media screen and (max-width: 900px) {
                margin-bottom: 3.6rem;
                font-size: 3rem;
                color: white;
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 2rem;
                font-size: 2.4rem;
            }

            @media screen and (max-width: 576px) {
                margin-bottom: 1.6rem;
                font-size: 2.2rem;
            }

            @media screen and (max-height: 560px) {
                margin-bottom: 0.4rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: -35px;
                transform: translateY(-100%);
                left: 50%;
                width: 1px;
                height: 30px;
                object-fit: cover;
                background: var(--accent);
                transition: all .8s;
                opacity: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 35px;
                transform: translateY(100%);
                left: 50%;
                width: 1px;
                height: 30px;
                object-fit: cover;
                background: var(--accent);
                transition: all .8s;
                opacity: 0;
            }

            &:hover {
                color: var(--accent);

                &::before,
                &::after {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}