.main-header {
    padding: 63px 0 41px;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 67px;
    }

    &__logomini {
        margin-right: auto;
    }

    &__menu {
        display: flex;
        gap: 58px;
    }
}
