.main-header {
    padding: 63px 0 35px;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 67px;
    }

    &__logomini {
        margin-right: auto;
    }

    &__menu {
        display: flex;
        gap: 58px;
        letter-spacing: 0.35px;

        a {
            position: relative;
            display: block;
            transition: all .4s;

            &::before {
                content: '';
                position: absolute;
                top: -35px;
                transform: translateY(-100%);
                left: 50%;
                width: 1px;
                height: 30px;
                object-fit: cover;
                background: var(--accent);
                transition: all .8s;
                opacity: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 35px;
                transform: translateY(100%);
                left: 50%;
                width: 1px;
                height: 30px;
                object-fit: cover;
                background: var(--accent);
                transition: all .8s;
                opacity: 0;
            }

            &:hover {
                color: var(--accent);

                &::before,
                &::after {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}